<p>This is the partial for the search.</p>
<form>
  <label
    for="searchCalories">
  Search Text *
  </label>
  <br/>
  <input
    id="searchText"
    name="searchText"
    ng-model="ctrl.searchText"
    required
  />
  <br />
  <label
    for="dietaryRestrictions">
    Dietary Restrictions
  </label>
  <select
    id="dietaryRestrictions"
    name="dietaryRestrictions"
    ng-model="ctrl.searchDietaryRestrictions"
    ng-options="filter for filter in ctrl.EdamamService.filters"
    multiple="true"
    ng-attr-size="10"
  ></select>
  <br />
  <label
    for="searchCalories"
  >
    Calories
  </label>
  <input
    id="searchCalories"
    name="searchCalories"
    ng-model="ctrl.searchCalories"
    step="100"
    type="number" />
  <hr />

<button
  type="button"
  ng-click="ctrl.clear()">
  Clear All
</button>
  <button
    type="submit"
    ng-click="ctrl.search(ctrl.searchText, ctrl.searchDietaryRestrictions, ctrl.searchCalories)">
    Search
  </button>
</form>

<list 
  ng-if="ctrl.searchResults"
  list-items="ctrl.searchResults"></list>