/* app css stylesheet */

body {
  margin: 0% auto;
  width: 90%;
  max-width: 750px;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

label {
  color: palevioletred;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 700;
}

input, select {
  display: block;
  width: 100%;
}

button[type=submit] {
  display: block;
  width: 100%;
  background: darkseagreen;
  color: white;
}

button[type=button] {
  display: block;
  width: 100%;
  background: darkturquoise;
  color: white;
}

img {
  display: block;
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 50%;
}

a {
  color: mediumvioletred;
}

.ingredients ul{
  background: lightgoldenrodyellow; 
  padding: 5%; 
  list-style: none;
}