<p ng-if="ctrl.listItems === undefined || ctrl.listItems.length === 0">No items were found.</p>
<div ng-if="ctrl.listItems" ng-repeat="item in ctrl.listItems track by $index">
  <h2>
    <a ng-href="{{item.recipe.url}}" target="_blank">
      {{item.recipe.label}}
    </a>
  </h2>
  <a ng-href="{{item.recipe.url}}" target="_blank" style="text-align: center;">
    <img 
      ng-src="{{item.recipe.image}}" />
  </a>
  <p>
    Calories: {{item.recipe.calories}}
  </p>
  <h3>Tags</h3>
  <ul>
    <li ng-repeat="healthLabel in item.recipe.healthLabels">
      {{healthLabel}}
    </li>
  </ul>
  <button 
    type="button" 
    ng-if="ctrl.listItems"
    ng-click="ctrl.showDetail = !ctrl.showDetail">
    Show {{ctrl.showDetail ? 'More' : 'Less'}}
  </button>
  <button
    type="button"
    style="background: pink"
    ng-click="ctrl.onFavoriteClick(item)">
  {{item.bookmarked ? 'Remove from' : 'Add to'}} Favorites
  </button>
  <div ng-if="ctrl.showDetail" class="ingredients">
      <ul>
        <li ng-repeat="ingredient in item.recipe.ingredients">
          {{ingredient.text}}
        </li>
      </ul>
  </div>
</div>
<hr />
